html{
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: url(bgg.jpg) no-repeat;
    background-size: cover;
}
.box{
    border-radius: 5%;
    width: 450px;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;     
}
.box-img{
    border-radius: 20%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h2{
    font-size: 20px;
    letter-spacing: 3px;
}
.box h5{
    text-align: justify;
    font-size: 20px;
}
.container{
    display: flex;
    flex-direction: row;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #b9b9b9;
}
.box2 li{
    list-style: disc;
    display: list-item;
}
@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    .box{
        width: 75vw;
        height: auto;
        margin: 0;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }
}